<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
        rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div class="cover">
            <div class="background-image-fixed cover-image" style="background-image : url('http://images.forwallpaper.com/files/images/d/d363/d3639eb4/703677/vector-music-wallpaper-walls.jpg')"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="text-warning">Mãe, to na banda!</h1>
                        <p class="text-inverse">Encontre a sua banda e saia por aí na turnê do sucesso!</p>
                        <br>
                        <br>
                        <a class="btn btn-lg btn-warning" data-toggle="modal" data-target="#form_inscr">Increver-se!<br></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-justify text-warning">Quem já faz parte</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"></div>
                </div>
            </div>
        </div>
        <div class="fade modal text-justify" id="form_inscr">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Anúncio</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" class="text-justify">
                            <div class="form-group">
                                <label class="control-label" for="titulo">Título</label>
                                <input class="form-control" id="tituloPostagem" placeholder="Enter email"
                                type="email">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="descricaoAnuncio">Descrição</label>
                                <input class="form-control" id="descricaoAnuncio"
                                placeholder="Descrição do anúncio" type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="cidadeAnuncio">Cidade</label>
                                <input class="form-control" id="cidadeAnuncio" placeholder="Cidade que reside"
                                type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="bairroAnuncio">Bairro</label>
                                <input class="form-control" id="bairroAnuncio" placeholder="Bairro que reside"
                                type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="intrumentos">Instrumentos</label>
                                <input class="form-control" id="intrumentos"
                                placeholder="Instrumentos que tem conhecimento" type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="estilos">Estilos que gosta de tocar</label>
                                <input class="form-control" id="estilos"
                                placeholder="Lista de estilos de músicas que gosta de tocar" type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="estilosNao">Estilos que não gosta de tocar</label>
                                <input class="form-control" id="estilosNao"
                                placeholder="Lista de estilos de músicas que gosta de tocar" type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="interesse">Interesse
                                    <br>
                                </label>
                                <div class="radio">
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"
                                        checked="">Procuro uma banda</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"
                                        checked="">Quero tocar ocasionalmente</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="contato">Contato</label>
                                <input class="form-control" id="contato"
                                placeholder="Informações de contato" type="text">
                            </div>
                            <button type="submit" class="btn btn-warning">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center text-warning">Time</h1>
                        <p class="text-center">Somos um grupo de pessoas qualificadas!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="img\IMG_20150506_080240.jpg" class="center-block img-circle img-responsive">
                        <h3 class="text-center">Alysson Ribeiro</h3>
                        <p class="text-center">Developer</p>
                    </div>
                    <div class="col-md-4">
                        <img src="img\IMG_20150510_154346597.jpg" class="center-block img-circle img-responsive">
                        <h3 class="text-center">Alysson Ribeiro</h3>
                        <p class="text-center">Developer</p>
                    </div>
                    <div class="col-md-4">
                        <img src="img\IMG_20150511_124754208.jpg" class="center-block img-circle img-responsive">
                        <h3 class="text-center">Alysson Ribeiro</h3>
                        <p class="text-center">Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>